#wrap {
  mask-image: url(blue.png), none;
}

.btn a {
  background-color: #009cd3;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Bitter', serif;
  width: 185px;
  display: block;
  text-align: center;
  line-height: 50px;
  margin-top: 20px;
  border-radius: 5px;
  border: 3px solid #009cd3;
}

.btn a:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #009cd3;
}

.global-nav {
  float: right;
  margin-top: 60px;
}

.global-nav li {
  float: left;
  margin: 0 20px;
  font-size: 20px;
  list-style: none;
  font-family: 'Bitter', serif;
}

.global-nav li a {
  color: #ffffff;
}

.global-nav li a:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 3px;
  text-decoration: none;
}

#index {
  background-image: url(../images/blue.jpg);
}

#index::before {
  /* 透過した黒を重ねる */
	background-color: rgba(0,0,0,0.2);
	/* どの範囲に重ねるかを指定 */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}

#mask {
  position: absolute;
  width: 100%;
  text-align: center;
}

#wrap {
  clear: both;
}

.logo {
  float: left;
  margin-top: 50px;
}

.content {
  width: 960px;
  margin: 0 auto;
}

#index .content {
  margin-top: 150px;
}

#index h1 {
  font-size: 100px;
  line-height: 1;
  color: #ffffff;
  font-family: 'Bitter', serif;
  margin-bottom: 50px;
}

#index .content {
  margin-top: 150px;
}

#index p {
  font-size: 16px;
  color: #ffffff;
}

#index footer {
  width: 960px;
  margin: 150px auto 0 auto;
  text-align: left;
}
